body
{
    background-color:#64CFF4;
}

a
{
    text-decoration:none;
    background-color:#0D7DB5;
    color:#fff;
    padding: 7px;
    display:block;
}

input
{
    height:20px;
    width:200px;
}

p
{
    font-size:16px;
    font-weight:bold;
    color:#0D7DB5;
    height:20px;
    width:200px;
}

#resultado
{
    color:#fff;
}
